<section class="bg-gra-03">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <div>

                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up for homeowner</p>

                                    <form class="mx-1 mx-md-4">
                                        <div class="form-group">
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="text" id="fullName" name="fullName"
                                                        class="form-control" formControlName="fullName"
                                                        placeholder="Full Name" required />
                                                    <div class="invalid-feedback">
                                                        <div>Full Name is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="text" id="username" name="username"
                                                        class="form-control" formControlName="username"
                                                        placeholder="Username" required />
                                                    <div 
                                                        class="invalid-feedback">
                                                        <div >Username is
                                                            required</div>
                                                        <div >
                                                            Username must be at least 6 characters
                                                        </div>
                                                        <div >
                                                            Username must not exceed 20 characters
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="email" id="email" name="email" class="form-control"
                                                        formControlName="email" placeholder="Email" required />
                                                    <div *ngIf="submitted && f['email'].errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f['email'].errors['required']">Email is required
                                                        </div>
                                                        <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="tel" id="phoneNumber" name="phoneNumber"
                                                        class="form-control" formControlName="phoneNumber"
                                                        placeholder="Phone Number" required />
                                                    <div class="invalid-feedback">
                                                        <div>Phone Number is required</div>
                                                        <div>
                                                            Phone Number must be at least 11 digit
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="password" id="password" name="password"
                                                        class="form-control" formControlName="password"
                                                        placeholder="Password" required />
                                                    <div class="invalid-feedback">
                                                        <div>Password is required</div>
                                                        <div>
                                                            Password must be at least 6 characters
                                                        </div>
                                                        <div>
                                                            Username must not exceed 40 characters
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="password" id="repeatPassword" name="repeatPassword"
                                                        class="form-control" formControlName="repeatPassword"
                                                        placeholder="Repeat password" required />
                                                    <div *ngIf="submitted && f['repeatPassword'].errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f['repeatPassword'].errors['required']">
                                                            Confirm Password is required
                                                        </div>
                                                        <div *ngIf="f['repeatPassword'].errors['matching']">
                                                            Confirm Password does not match
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group form-check">
                                            <div class="form-check d-flex justify-content-center mb-5">
                                                <div class="form-outline flex-fill mb-0">
                                                    <input class="form-check-input me-2" type="checkbox" value=""
                                                        id="acceptTerms" formControlName="acceptTerms" />
                                                    <label class="form-check-label" for="acceptTerms">
                                                        I agree all statements in <a href="#!">Terms of service</a>
                                                    </label>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                <button type="submit"
                                                    class="btn btn-primary btn-lg sign-up">Register</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div>

                                </div>

                            </div>
                            <div id="sign-up-button"></div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://img.freepik.com/premium-vector/house-owner-gives-key-tenant_701961-829.jpg?w=2000"
                                    class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>