<!-- <footer>
    <h1>Proyecto primates</h1>
    <div class="">Agradecimientos</div>
    <div class="">Social media</div>
    <div class="">Traducir la pagina</div>
  </footer> -->

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-2 mb-0 text-muted">&copy; UNAM 2024</p>
    <p class="col-md-3 mb-0 text-muted">Proyecto primates</p>
    <ul class="nav col-md-3 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Agradecimientos</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Social media</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Traducir la pagina</a></li>      
    </ul>
  </footer>
</div>