<!-- <nav class="navbar navbar-expand-lg text-center">
    <a href="#"><i class="fi fi-ss-house-chimney"></i> Inicio</a>
    <a href="#">Informaciones</a>
    <a href="#">Contacto</a>
    <a href="#">Conectarse</a>
    <a href="#">Registrarse</a>
  </nav> -->

<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/home" class="nav-link px-2 text-white">Inicio</a></li>
        <li><a href="/info" class="nav-link px-2 text-white">Informaciones</a></li>
        <li><a href="/contact" class="nav-link px-2 text-white">Contacto</a></li>
      </ul>



      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">
          <a href="/login">Conectarse</a></button>
        <button type="button" class="btn btn-warning">
          <a href="/register">Registrarse</a></button>
      </div>
    </div>
  </div>
</header>