:root {
    --fondo1: #132a13;
    --fondo2: #5b6e5b;
    --fondo3: #5b6e5b63;
    --acento1: #4f772d;
    --acento2: #90a955;
    --fuente1: "Calibri";
    --fuete2: "Arial";
    --colortexto: #f5f5f5;
    --radio: 10px;
    --tamaño1: 1em;
    --ltitulo: 3em;
    --espaciado: 20px;
  }